- content_for :map do
  - controls = '{scrollwheel: false,zoomControl:true, zoomControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}, panControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}}'
  - json = {map_options: {zoom: 4, center_latitude: -25.235004, center_longitude: -60.92528, raw: controls}}
  = gmaps json

- content_for :search do
  .well
    %h3
      hello
    %p
      %ol
        %li
          Bla bla bla
          
        %li
          Bla bla bla
    %p
      = link_to "Procurar", "/", class: "btn btn-primary"
