- content_for :map do
  - controls = '{scrollwheel: false,zoomControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}, panControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}}'
  - options = {auto_adjust: true, auto_zoom: true, raw: controls}
  = gmaps "map_options" => options, "direction" => {"data" => @json }
  
  
- content_for :scripts do
  = javascript_include_tag "RouteBoxer"
  = javascript_include_tag "routing"  
  
- content_for :search do
  .hidden_area
    #parameter_from{value: @route.origin.name}
    #parameter_to{value: @route.destination.name}  
    #detour{value: @detour}
  / .row
  /   .span3
  /     .well
  /       %h3
  /         Escolas entre:
  /       %p
  /         %b
  /           Origem:
  /         = @route.origin.name
  /       %p
  /         %b
  /           Destino:
  /         = @route.destination.name
  /       #boxes
  /       .hidden_area
  /         #parameter_from{value: @route.origin.name}
  /         #parameter_to{value: @route.destination.name}  
  /   