- content_for :map do
  - controls = '{scrollwheel: false,zoomControl:true, zoomControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}, panControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}}'
  - options = {raw: controls}
  = gmaps "map_options" => options, "markers" => {"data" => @json }
  
  - content_for :search do
    .well
      = @json
      = @json.class