.container.small_container
  .row
    %h4
      %b
        Nome:
      %span.no_b
        = link_to school.name , show_escola_path(school)
    %h4
      %b
        Rank:
      %span.no_b
        = school.provabrasil