.container.small_container
  .row
    .span2
      %h4
        %b
          Nome:
        %span.no_b
          = link_to school.name , show_escola_path(school)
      %h4
        %b
          Rank:
        %span.no_b
          = school.rank
          
      
    .span2 
      %h4
        Fotos
      %p
        fotenhas