.container.small_container
  .row
    %h4
      %b
        Nome:
      %span.no_b
        = link_to school.name , show_escola_path(school)
    %h4
      %b
        Rank:
      %span.no_b
        = school.rank
  .row        
    %h4
      Fotos
    %p.school_photos
      - if school.name == "School 261"
        - panoramio = PanoramioRb.get_panoramas_from_point([school.location.x,school.location.y])
        - panoramio.photos.each do |photo|
          = image_tag photo.photo_file_url, class: "panoramio_img", style: "width: 48px;height: 48px;"