.container.small_container
  .row
    %h4
      %b
        Nome:
      %span.no_b
        = school.name
    %p
      = link_to "ver detalhes", "", :class => "btn btn-primary btn-resize", "school_id" => school.id
