// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.small_container{
  width: 240px;
  margin-left: 30px;
}

.panormaio_img{
  display: inline;
  padding-right: 2px;
  padding-bottom: 2px;
}

.well.filters{
  img{
    width: 24px;
  }
  .filter_area{
    display:inline-block;
    width: 160px;
    margin-bottom: 8px;
  }
	.centered{
		text-align: center;
	}
  .filter_area_quality{
    display:inline-block;
    width: 100px;
    margin-bottom: 8px;
  }
}

.school_count_notifier{
  position:absolute;
  margin:0 auto;
  left: 40%;
  z-index: 10000;
  margin-top: 10px;
  .alert{
		span.highlighted{
			color: #f46511;
		}
		font-size: 16px;		
    margin-bottom:0px;
    text-align: center;
    padding: 8px 14px;
  }
}

.well, .alert.alert-escolamaps{
	border-color:#234fff;
	background-color: white;
	color: #234fff;
}

.well{
	input[type="checkbox"] {
		margin-top: -4px;
	}
}

.hidden_filters {
  display: none;
}

#detail_area {
  float: left;
  position: absolute;
}